.designation-wrapper {
  padding: 100px;
}
.inner-designation-wrapper {
  border: 1px solid #e4e5e7;
  padding: 20px;
}
.add-positionBtn-wrapper {
  text-align: right;
  margin-bottom: 5px;
}
.printBtn-wrapper {
  text-align: left;
}
.seachform-wrapper {
  text-align: right;
}
